@media screen and (max-width: 1500px) 
  .latest-news
    .siema-item 
      flex-wrap: wrap

      .content-left, .content-right
        flex: 1 1 300px

      .content-left
        order: 2

@media screen and (max-width: 1280px)
  .hero 
    h1 
      font-size: 60px

  .section-2 
    .container 
      gap: 70px

    h2 
      br 
        display: none

  .section-3 
    h2 
      font-size: 60px

    p 
      font-size: 25px

  .section-4
    .container 
      gap: 70px

    h3 
      br 
        display: none

  .latest-news
    .siema-item 
      .content-left, .content-right
        flex: 1 1 220px

      .content-left
        order: 1

      .content-right
        order: 2

  .footer-row 
    gap: 50px

@media screen and (max-width: 1000px)
  .services-container
    .service-menu 
      .service-title 
        font-size: 30px

      img 
        height: 40px
        width: 40px

  // .latest-news
  //   .siema-item 
  //     .content-left
  //       order: 2

  //     .content-right
  //       order: 1

  footer
    .footer-row
      grid-template-columns: 1fr 1fr

      .footer-right
        grid-column: 1 / -1

        input
          max-width: 500px

