@media screen and (max-width: 600px)
  .hero 
    h1 
      font-size: 30px

      br 
        display: none

  nav.main-navigation
    max-width: calc( 100% - 40px )
    padding: 15px 20px

    .logo 
      font-size: 16px

    .nav-links 
      display: none

  .section-2
    // height: auto
    padding: 70px 0

    h2 
      font-size: 25px
      line-height: auto

      br 
        display: none

    p 
      font-size: 1rem

    .container 
      grid-template-columns: 1fr
      gap: 30px

  .section-3 
    padding: 70px 20px

    h2 
      font-size: 25px
      line-height: 35px

      br
        display: none

    p 
      font-size: 1rem
      line-height: auto
    
  .section-4
    padding: 70px 0 0

    .container
      grid-template-columns: 1fr
      gap: 25px

    h3 
      font-size: 25px
      margin-bottom: 30px

      br
        display: none

    .section-text
      font-size: 1rem

  .section-5
    padding: 70px 20px

    h3
      font-size: 20px

    p 
      font-size: 1rem

      br
        display: none

    .cards-list
      grid-template-columns: 1fr

  .section-6
    padding: 50px 0 70px

    .container 
      justify-content: center
      align-items: center

    .play-button 
      display: block
      width: max-content
      margin: auto

      svg, img 
        height: 150px
        width: 150px

    .info-panel
      .info-title
        font-size: 20px
        br 
          display: none
      
      .info-text 
        font-size: 1rem

  .latest-news 
    padding: 70px 0

    .news-title
      h3 
        font-size: 20px
        margin-bottom: 0

      .carousel-buttons
        gap: 10px

  footer 
    padding: 70px 0 0

    .footer-row 
      grid-template-columns: 1fr

    .footer-lower 
      margin-top: 70px

    .flex-container 
      flex-direction: column
      justify-content: flex-start
      align-items: start
      gap: 25px

      ul 
        display: grid
        grid-template-columns: 1fr 1fr
        row-gap: 15px
        column-gap: 30px