button, .btn 
  font-family: $font-primary
  outline: none 
  border: none
  border-radius: 100px
  cursor: pointer
  transition: 0.3s ease

.btn-primary 
  background: $cOrange

.btn-outline 
  background: transparent
  border: 1px solid $cWhite
  color: $cWhite
  transition: 0.3s ease

.btn-sm
  font-size: 15px
  padding: 8px