*, html
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: "Ubuntu", sans-serif

nav.main-navigation
  background: #00000050
  padding: 15px 25px
  border-radius: 100px
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 906px
  width: 100%
  position: fixed
  margin-top: 20px
  top: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 100

  .logo 
    font-size: 28px
    color: $cWhite
    font-weight: 700

  .nav-links 
    display: flex
    height: auto
    overflow: hidden

    .nav-link 
      padding: 4px 12px
      border-radius: 50px
      color: $cWhite
      font-size: 20px
      overflow: hidden
      position: relative
      background: none
      display: block

      &::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        bottom: 0
        left: 0
        background: $cPink
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1)
        border-radius: 50px
        transform: translate3d(0, 100%, 0)

      &:hover
        &::before
          height: 100%
          transform: translate3d(0, 0, 0)

      span 
        position: relative

  .btn 
    margin-left: 10px
    padding: 4px 12px
    border-radius: 50px
    color: $cWhite
    font-size: 20px
    overflow: hidden
    position: relative
    background: #F15A29
    display: block

// Shared parallax section style
.parallax-section
  position: relative
  height: 100vh
  position: sticky
  top: 0
  // display: flex
  // align-items: center
  // justify-content: center

.hero 
  height: 100vh
  background: url('../img/bg-hero.png') center center / cover no-repeat
  width: 100%
  background-attachment: fixed
  @extend .parallax-section
  z-index: 1

  .gradient-bg
    content: ""
    position: fixed
    top: 0
    left: 0
    height: 373px
    width: 100%
    background: #000000
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%)

  h1 
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 70px
    color: $cWhite
    font-weight: bold
    text-align: center
    margin: 0 auto
    z-index: 3

.section2 
  background: $cWhite
  padding: 100px 0
  @extend .parallax-section
  z-index: 2
  display: flex 
  align-items: center

  .container
    width: 100%
    max-width: 1180px
    margin: 0 auto
    padding: 0 20px
    display: grid
    grid-template-columns: 40% 1fr
    gap: 100px

  h2 
    font-size: 40px
    line-height: auto
    color: $cBlack

  p
    font-size: 20px
    margin-bottom: 20px
    line-height: 150%
    color: $cBlack

.section3
  padding: 100px 0
  background: url('../img/bg-section2.png') center center / cover no-repeat
  width: 100%
  background-attachment: fixed
  text-align: center
  @extend .parallax-section
  z-index: 3
  display: flex 
  align-items: center
  justify-content: center
  
  h2 
    font-size: 70px
    font-weight: bold
    color: $cWhite
    position: sticky
    // margin-bottom: 
    // top: 50%
  p 
    color: rgba(242, 74, 32, 1)
    font-size: 30px
    line-height: 273%

.section4
  padding: 100px 0 0 0
  @extend .parallax-section
  background: $cWhite
  z-index: 4
  height: auto
  flex-direction: column
  
  h3, p
    color: $cBlack

  h3 
    font-size: 40px
    font-weight: bold
    margin-bottom: 65px

  p 
    font-size: 20px
    margin-bottom: 20px
    line-height: 150%

  .container
    width: 100%
    max-width: 1180px
    margin: 0 auto
    padding: 0 20px
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 100px
    margin-bottom: 100px

  img 
    width: 100%
    height: 390px
    object-fit: cover
    border-radius: 15px

.section-5 
  background: $cBlack
  padding: 150px 0
  width: 100%

  h3
    text-align: center
    font-size: 30px
    font-weight: bold
    margin-bottom: 40px
    color: $cWhite


  p 
    text-align: center
    font-size: 22px
    line-height: 160%
    color: $cWhite
    margin-bottom: 40px

  .cards-list 
    width: 100%
    max-width: 920px
    margin: 0 auto
    display: grid 
    grid-template-columns: repeat(3, 1fr)
    gap: 25px

    .card 
      background: #141414
      border-radius: 15px
      height: 230px
      width: 100%
      padding: 40px 0
      cursor: pointer
      transition: all 0.3s ease

      .card-title
        font-weight: 500
        margin-bottom: 20px
        transition: all 0.3s ease

      img 
        width: 90px
        height: 90px
        margin: 0 auto
        display: block

      &:hover
        img 
          height: 0
          opacity: 0

        .service-list
          opacity: 1
          height: auto

    .service-list
      opacity: 0
      height: 0
      font-size: 18px
      margin: 0 auto
      display: flex 
      flex-direction: column
      align-items: center
      justify-content: center

      li 
        margin-bottom: 5px
        transition: all 0.3s ease

        &:hover
          font-size: 22px

    .brand
      &:hover
        background: #411c33

        .card-title
          color: #f90099

    .digital
      &:hover
        background: #5a2310

        .card-title
          color: #ff6200

    .print
      &:hover
        background: #3c4a29

        .card-title
          color: #8dc63f

.section-6
  background: #ff4b1e
  width: 100%
  padding: 100px 0

  svg 
    transform: rotate(-8deg)

  .play-button
    cursor: pointer

    text
      font-weight: 700
      font-family: inherit
      padding-right: 20px

    path
      stroke-dasharray: 320
      stroke-dashoffset: 320
      animation: draw 4s ease-in-out infinite

  @keyframes draw
    0%
      stroke-dashoffset: 320
    70%
      stroke-dashoffset: 0
    100%
      stroke-dashoffset: 0

  .container
    width: 100%
    max-width: 1160px
    display: grid
    grid-template-columns: 130px 1fr
    align-items: center

  .info-panel 
    text-align: center

    .info-img 
      margin-bottom: 30px
      height: 500px
      object-fit: fixed

.latest-news 
  background: $cWhite
  padding: 200px 0

  .news-title
    width: 100%
    max-width: 1180px
    display: flex 
    justify-content: space-between
    align-items: center
    margin: 0 auto 30px
    padding: 0 20px

  h3
    font-weight: 600
    margin-bottom: 0

  .carousel-buttons
    display: flex 
    gap: 20px
    align-items: center

    button 
      background: none
      outline: none
      border: none
      cursor: pointer

    img
      height: 30px
      width: 30px

  .siema-content
    padding: 0 15px

  .siema-item 
    background: green
    height: auto
    display: grid
    grid-template-columns: 1fr 1fr

    h4, p
      color: $cWhite

    h4 
      font-size: 20px
      margin-bottom: 20px

    p
      font-size: 16px
      line-height: 25px
      margin-bottom: 0

  .content-left 
    padding: 30px

  .content-right 
    img 
      height: 100%
      width: 100%
      border-radius: 0
















































// next