@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav.main-navigation {
  background: rgba(0, 0, 0, 0.3137254902);
  padding: 15px 25px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 906px;
  width: 100%;
  position: fixed;
  margin-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
nav.main-navigation .logo {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
nav.main-navigation .nav-links {
  display: flex;
  height: auto;
  overflow: hidden;
}
nav.main-navigation .nav-links .nav-link {
  padding: 4px 12px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  background: none;
  display: block;
}
nav.main-navigation .nav-links .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #f90099;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  border-radius: 50px;
  transform: translate3d(0, 100%, 0);
}
nav.main-navigation .nav-links .nav-link:hover::before {
  height: 100%;
  transform: translate3d(0, 0, 0);
}
nav.main-navigation .nav-links .nav-link span {
  position: relative;
}
nav.main-navigation .btn {
  margin-left: 10px;
  padding: 4px 12px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  background: #F15A29;
  display: block;
}

.parallax-section, .section4, .section3, .section2, .hero {
  position: relative;
  height: 100vh;
  position: sticky;
  top: 0;
}

.hero {
  height: 100vh;
  background: url("../img/bg-hero.png") center center/cover no-repeat;
  width: 100%;
  background-attachment: fixed;
  z-index: 1;
}
.hero .gradient-bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 373px;
  width: 100%;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 100%);
}
.hero h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
}

.section2 {
  background: #fff;
  padding: 100px 0;
  z-index: 2;
}
.section2 .container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 100px;
}
.section2 h2 {
  font-size: 40px;
  line-height: auto;
  color: #000;
}
.section2 p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 150%;
  color: #000;
}

.section3 {
  padding: 100px 0;
  background: url("../img/bg-section2.png") center center/cover no-repeat;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
  z-index: 3;
}
.section3 h2 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  position: sticky;
}
.section3 p {
  color: rgb(242, 74, 32);
  font-size: 30px;
  line-height: 273%;
}

.section4 {
  padding: 100px 0 0 0;
  background: #fff;
  z-index: 4;
  height: auto;
  flex-direction: column;
}
.section4 h3, .section4 p {
  color: #000;
}
.section4 h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 65px;
}
.section4 p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 150%;
}
.section4 .container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-bottom: 100px;
}
.section4 img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 15px;
}

.section-5 {
  background: #000;
  padding: 150px 0;
  width: 100%;
}
.section-5 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}
.section-5 p {
  text-align: center;
  font-size: 22px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 40px;
}
.section-5 .cards-list {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.section-5 .cards-list .card {
  background: #141414;
  border-radius: 15px;
  height: 230px;
  width: 100%;
  padding: 40px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section-5 .cards-list .card .card-title {
  font-weight: 500;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.section-5 .cards-list .card img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
}
.section-5 .cards-list .card:hover img {
  height: 0;
  opacity: 0;
}
.section-5 .cards-list .card:hover .service-list {
  opacity: 1;
  height: auto;
}
.section-5 .cards-list .service-list {
  opacity: 0;
  height: 0;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-5 .cards-list .service-list li {
  margin-bottom: 5px;
  transition: all 0.3s ease;
}
.section-5 .cards-list .service-list li:hover {
  font-size: 22px;
}
.section-5 .cards-list .brand:hover {
  background: #411c33;
}
.section-5 .cards-list .brand:hover .card-title {
  color: #f90099;
}
.section-5 .cards-list .digital:hover {
  background: #5a2310;
}
.section-5 .cards-list .digital:hover .card-title {
  color: #ff6200;
}
.section-5 .cards-list .print:hover {
  background: #3c4a29;
}
.section-5 .cards-list .print:hover .card-title {
  color: #8dc63f;
}

.section-6 {
  background: #ff4b1e;
  width: 100%;
  padding: 100px 0;
}
.section-6 svg {
  transform: rotate(-8deg);
}
.section-6 .play-button {
  cursor: pointer;
}
.section-6 .play-button text {
  font-weight: 700;
  font-family: inherit;
  padding-right: 20px;
}
.section-6 .play-button path {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: draw 4s ease-in-out infinite;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 320;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.section-6 .container {
  width: 100%;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
}
.section-6 .info-panel {
  text-align: center;
}
.section-6 .info-panel .info-img {
  margin-bottom: 30px;
  height: 500px;
  object-fit: fixed;
}

.latest-news {
  background: #fff;
  padding: 200px 0;
}
.latest-news .news-title {
  width: 100%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  padding: 0 20px;
}
.latest-news .siema-content {
  padding: 0 15px;
}
.latest-news .siema-item {
  background: green;
  height: 100px;
}
.latest-news h3 {
  font-weight: 600;
  margin-bottom: 0;
}
.latest-news .carousel-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.latest-news .carousel-buttons button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.latest-news .carousel-buttons img {
  height: 30px;
  width: 30px;
}

/*# sourceMappingURL=main.css.map */
