@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button, .btn {
  font-family: "Ubuntu", sans-serif;
  outline: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary {
  background: #F15A29;
  color: #fff;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s ease;
}

.btn-sm {
  font-size: 15px;
  padding: 8px;
}

.btn-md {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
}

.btn-lg {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
}

input {
  height: 45px;
  width: 100%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  background: none;
  transition: all 0.3s ease;
  color: #fff;
  outline: none;
}
input::placeholder {
  color: #fff;
  font-size: 15px;
  font-family: inherit;
}
input:hover, input:focus, input:active, input:focus-within, input:focus-visible {
  border: 1px solid #f90099 !important;
}

nav.main-navigation {
  background: rgba(0, 0, 0, 0.3137254902);
  padding: 15px 25px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 906px;
  width: calc(100% - 40px);
  position: fixed;
  margin-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
nav.main-navigation .logo {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
nav.main-navigation .nav-links {
  display: flex;
  height: auto;
  overflow: hidden;
}
nav.main-navigation .nav-links .nav-link {
  padding: 4px 12px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  background: none;
  display: block;
}
nav.main-navigation .nav-links .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #f90099;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  border-radius: 50px;
  transform: translate3d(0, 100%, 0);
}
nav.main-navigation .nav-links .nav-link:hover::before {
  height: 100%;
  transform: translate3d(0, 0, 0);
}
nav.main-navigation .nav-links .nav-link span {
  position: relative;
}
nav.main-navigation .btn {
  margin-left: 10px;
  padding: 4px 12px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  background: #F15A29;
  display: block;
}
nav.main-navigation button {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-content: center;
  display: none;
}
nav.main-navigation button .menu-icon {
  height: 30px;
  width: 30px;
}

.services-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgb(60, 148, 180) 0%, rgb(26, 64, 78) 100%);
  padding: 0 20px;
  z-index: 90;
  overflow-y: auto;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-container .service-menu {
  width: 700px;
}
.services-container.show {
  opacity: 1;
  visibility: visible;
}
.services-container.color-1::before {
  background: linear-gradient(0deg, rgb(214, 26, 142) 0%, rgb(65, 28, 51) 100%);
  opacity: 1;
}
.services-container.color-2::before {
  background: linear-gradient(0deg, rgb(192, 73, 34) 0%, rgb(90, 35, 16) 100%);
  opacity: 1;
}
.services-container.color-3::before {
  background: linear-gradient(0deg, rgb(83, 145, 0) 0%, rgb(60, 74, 41) 100%);
  opacity: 1;
}
.services-container::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.service-block {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 0fr;
  transition: all 0.5s ease;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 120px;
  cursor: pointer;
}
.service-block:nth-child(3) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.service-block .service-active {
  height: 200px;
  width: 200px;
}
.service-block .service-title {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}
.service-block .top-content {
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-block .service-links li {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 0;
  transition: padding-left 0.3s ease;
}
.service-block .service-links a {
  position: absolute;
  display: inline-block;
  color: #fff;
  left: 0;
  margin-right: 10px;
  transition: all 0.3s ease;
  transform: translateX(-120%);
  opacity: 0;
  transition: all 0.3s ease;
}
.service-block .service-links li:hover {
  padding-left: 120px;
}
.service-block .service-links li:hover a {
  opacity: 1;
  transform: translateX(0);
}
.service-block .service-content-1,
.service-block .service-content-2,
.service-block .service-content-3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.service-block:hover {
  grid-template-rows: 0fr 1fr;
  height: 270px;
}
.service-block:hover .top-content {
  opacity: 0;
  pointer-events: none;
}
.service-block:hover .service-content-1,
.service-block:hover .service-content-2,
.service-block:hover .service-content-3 {
  opacity: 1;
}
.service-block .service-title-active {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.service-block .service-content-1 a, .service-block .service-content-1 .service-title-active {
  color: #f90099;
}
.service-block .service-content-2 a, .service-block .service-content-2 .service-title-active {
  color: #F15A29;
}
.service-block .service-content-3 a, .service-block .service-content-3 .service-title-active {
  color: #8DC63F;
}

.mobile-navigation {
  transform: translateX(-100%);
  transition: all 0.3s ease;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
  z-index: 100;
  position: fixed;
  padding: 20px;
  display: flex;
  align-items: center;
}
.mobile-navigation::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  pointer-events: none;
}
.mobile-navigation.gradient-1::before {
  background: linear-gradient(0deg, rgb(214, 26, 142) 0%, rgb(65, 28, 51) 100%);
  opacity: 1;
}
.mobile-navigation.gradient-2::before {
  background: linear-gradient(0deg, rgb(192, 73, 34) 0%, rgb(90, 35, 16) 100%);
  opacity: 1;
}
.mobile-navigation.gradient-3::before {
  background: linear-gradient(0deg, rgb(83, 145, 0) 0%, rgb(60, 74, 41) 100%);
  opacity: 1;
}
.mobile-navigation .mobile-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-navigation .mobile-top .mobile-logo {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.mobile-navigation .mobile-top .close-navigation {
  border: none;
  background: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-navigation .mobile-links {
  width: 100%;
  font-size: 20px;
}
.mobile-navigation .mobile-links li {
  color: #fff;
  margin-bottom: 20px;
}
.mobile-navigation .mobile-links li a {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}
.mobile-navigation .service-mobile {
  max-height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.mobile-navigation .service-link {
  transition: all 0.3s ease;
}
.mobile-navigation .service-link:hover .service-mobile {
  margin-top: 20px;
  max-height: 500px;
  opacity: 1;
}
.mobile-navigation .service-block-sm {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 0fr;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  cursor: pointer;
  height: 80px;
}
.mobile-navigation .service-block-sm:nth-child(3) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-navigation .service-block-sm .service-icon {
  height: 40px;
  width: 40px;
}
.mobile-navigation .service-block-sm .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: hidden;
}
.mobile-navigation .service-block-sm .bottom-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.mobile-navigation .service-block-sm .bottom-content ul li {
  margin-bottom: 10px;
  font-size: 16px;
}
.mobile-navigation .service-block-sm .bottom-content .service-title {
  margin-bottom: 10px;
}
.mobile-navigation .service-block-sm .bottom-content img {
  height: 100px;
  width: 100px;
}
.mobile-navigation .service-block-sm:hover {
  grid-template-rows: 0fr 1fr;
  height: 170px;
}
.mobile-navigation .service-block-sm:hover .top-content {
  opacity: 0;
  pointer-events: none;
}
.mobile-navigation .service-block-sm:hover .bottom-content {
  opacity: 1;
}

.mobile-active {
  transform: translateX(0);
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parallax-section, .section-4, .section-3, .section-2, .hero {
  position: relative;
  height: 100vh;
  position: sticky;
  top: 0;
}

.hero {
  height: 100vh;
  background: url("../img/bg-hero.png") center center/cover no-repeat;
  width: 100%;
  background-attachment: fixed;
  z-index: 1;
}
.hero .gradient-bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 373px;
  width: 100%;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 100%);
}
.hero h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  max-width: calc(100% - 40px);
}

.section-2 {
  background: #fff;
  padding: 100px 0;
  z-index: 2;
  display: flex;
  align-items: center;
}
.section-2 .container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 100px;
}
.section-2 h2 {
  font-size: 40px;
  color: #1C1C1C;
  width: 100%;
}
.section-2 p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 150%;
  color: #1C1C1C;
}

.section-3 {
  padding: 100px 20px;
  background: url("../img/bg-section2.png") center center/cover no-repeat;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 h2 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  position: sticky;
  width: 100%;
}
.section-3 p {
  color: #f24a20;
  font-size: 30px;
  line-height: 273%;
}

.section-4 {
  padding: 100px 0 0 0;
  background: #fff;
  z-index: 4;
  height: auto;
  flex-direction: column;
}
.section-4 h3, .section-4 p {
  color: #1C1C1C;
}
.section-4 .section-4-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 65px;
}
.section-4 .section-text {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 20px;
}
.section-4 .container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.section-4 img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 15px;
}

.section-5 {
  background: #000;
  padding: 150px 20px;
  width: 100%;
  margin-top: 100px;
}
.section-5 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}
.section-5 p {
  text-align: center;
  font-size: 22px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 40px;
}
.section-5 .cards-list {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.section-5 .cards-list .card {
  background: #141414;
  border-radius: 15px;
  height: 230px;
  width: 100%;
  padding: 40px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
.section-5 .cards-list .card .card-title {
  font-weight: 500;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.section-5 .cards-list .card img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
}
.section-5 .cards-list .card:hover img {
  height: 0;
  opacity: 0;
}
.section-5 .cards-list .card:hover .service-list {
  opacity: 1;
  height: auto;
}
.section-5 .cards-list .service-list {
  opacity: 0;
  height: 0;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-5 .cards-list .service-list li {
  margin-bottom: 5px;
  transition: all 0.3s ease;
}
.section-5 .cards-list .service-list li:hover {
  font-size: 22px;
}
.section-5 .cards-list .brand:hover {
  background: #411c33;
}
.section-5 .cards-list .brand:hover .card-title {
  color: #f90099;
}
.section-5 .cards-list .digital:hover {
  background: #5a2310;
}
.section-5 .cards-list .digital:hover .card-title {
  color: #ff6200;
}
.section-5 .cards-list .print:hover {
  background: #3c4a29;
}
.section-5 .cards-list .print:hover .card-title {
  color: #8dc63f;
}

.section-6 {
  background: #ff4b1e;
  width: 100%;
  padding: 100px 0;
}
.section-6 svg {
  transform: rotate(-8deg);
}
.section-6 .play-button {
  cursor: pointer;
}
.section-6 .play-button text {
  font-weight: 700;
  font-family: inherit;
  padding-right: 20px;
}
.section-6 .play-button path {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: draw 4s ease-in-out infinite;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 320;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.section-6 .container {
  width: 100%;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
}
.section-6 .info-panel {
  text-align: center;
}
.section-6 .info-panel .info-img {
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  object-fit: fixed;
}
.section-6 .info-panel .info-title {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}
.section-6 .info-panel .info-text {
  font-size: 20px;
  font-weight: 500;
  color: #1C1C1C;
}

.latest-news {
  background: #fff;
  padding: 150px 0;
}
.latest-news .news-title {
  width: 100%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  padding: 0 20px;
}
.latest-news h3 {
  font-weight: 600;
  margin-bottom: 0;
  color: #1C1C1C;
}
.latest-news .carousel-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.latest-news .carousel-buttons button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.latest-news .carousel-buttons img {
  height: 30px;
  width: 30px;
}
.latest-news .siema-content {
  padding: 0 15px;
}
.latest-news .siema-item {
  cursor: pointer;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.latest-news .siema-item:hover .btn {
  top: 50%;
}
.latest-news .content-left {
  padding: 30px;
}
.latest-news .content-left p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
  color: #fff;
}
.latest-news .content-left .slide-title {
  color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.latest-news .content-right {
  position: relative;
}
.latest-news .content-right img {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.latest-news .content-right .btn {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 120px;
  font-weight: 500;
}
.latest-news .slide-1 {
  background: #FE8963;
  transition: all 0.3s ease;
}
.latest-news .slide-1:hover {
  background: #B2401B;
}
.latest-news .slide-1:hover .slide-title {
  color: #FFAE94;
}
.latest-news .slide-2 {
  background: #3160B2;
  transition: all 0.3s ease;
}
.latest-news .slide-2:hover {
  background: #001842;
}
.latest-news .slide-2:hover .slide-title {
  color: #3160B2;
}
.latest-news .slide-3 {
  background: #DE2A35;
  transition: all 0.3s ease;
}
.latest-news .slide-3:hover {
  background: #4F0000;
}
.latest-news .slide-3:hover .slide-title {
  color: #DE2A35;
}

footer {
  padding: 150px 0 0 0;
  background: #000;
  background: url("../img/bg-footer.png") center center/cover no-repeat;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(19, 19, 19, 0.9098039216);
}
footer a {
  color: #fff;
  transition: all 0.3s ease;
}
footer a:hover {
  color: #f90099;
}
footer .footer-container {
  position: relative;
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .footer-head {
  font-size: 30px;
  font-weight: 600;
  color: #F15A29;
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-right input {
  margin-bottom: 20px;
}
.footer-right .terms {
  color: #fff;
  font-size: 10px;
  margin-bottom: 25px;
}
.footer-right .btn {
  width: 100%;
  max-width: 150px;
}
.footer-right .btn:hover {
  background: #f90099;
  border: 1px solid transparent;
}

.footer-mid address {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  font-weight: regular;
  font-style: normal;
  margin-bottom: 10px;
}
.footer-mid .phone {
  font-size: 20px;
  color: #fff;
  line-height: 25px;
  font-weight: regular;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 3rem;
}
.footer-mid .icon-phone, .footer-mid .social-icon {
  height: 18px;
  width: 18px;
}
.footer-mid .footer-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-mid .social-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-left .flex {
  display: flex;
  gap: 2rem;
  align-items: start;
  margin-bottom: 3rem;
}
.footer-left .footer-links li {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.footer-lower {
  margin-top: 150px;
  background: #141414;
  padding: 20px 0;
  width: 100%;
}

.flex-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container a, .flex-container p {
  color: #707070;
  font-size: 15px;
}
.flex-container a {
  transition: all 0.3s ease;
}
.flex-container a:hover {
  color: #f90099;
}
.flex-container ul {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 15px;
}
.flex-container .btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.flex-container .btn img {
  height: 8px;
  width: 8px;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.flex-container .btn:hover img {
  transform: rotateX(180deg);
}
.flex-container .btn-outline:hover {
  background: #f90099;
  border: 1px solid transparent;
}

@media screen and (max-width: 1280px) {
  .hero h1 {
    font-size: 60px;
  }
  .section-2 .container {
    gap: 70px;
  }
  .section-2 h2 br {
    display: none;
  }
  .section-3 h2 {
    font-size: 60px;
  }
  .section-3 p {
    font-size: 25px;
  }
  .section-4 .container {
    gap: 70px;
  }
  .section-4 h3 br {
    display: none;
  }
  .footer-row {
    gap: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .services-container .service-menu .service-title {
    font-size: 30px;
  }
  .services-container .service-menu img {
    height: 40px;
    width: 40px;
  }
  footer .footer-row {
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-row .footer-right {
    grid-column: 1/-1;
  }
  footer .footer-row .footer-right input {
    max-width: 500px;
  }
}
@media screen and (max-width: 850px) {
  nav.main-navigation .nav-links {
    display: none;
  }
  nav.main-navigation .mobile-menu {
    display: block;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h1 br {
    display: none;
  }
  .section-2 .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .section-2 h2 {
    font-size: 30px;
  }
  .section-2 h2 br {
    display: none;
  }
  .section-4 {
    padding: 70px 0 0;
  }
  .section-4 .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .section-4 .section-4-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .section-4 .section-4-title br {
    display: none;
  }
  .section-4 img {
    height: auto;
  }
  .section-5 {
    margin-top: 70px;
    padding: 70px 20px;
  }
  .section-6 {
    padding: 70px 0 90px;
  }
  .section-6 .container {
    justify-content: center;
    align-items: center;
  }
  .section-6 .play-button {
    display: block;
    width: max-content;
    margin: auto;
  }
  .section-6 .play-button svg, .section-6 .play-button img {
    height: 200px;
    width: 200px;
  }
  footer {
    padding: 80px 0 0;
  }
  footer .footer-links {
    flex: 1;
  }
  footer .footer-lower {
    margin-top: 80px;
  }
  footer .flex-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 25px;
  }
  footer .flex-container ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 30px;
  }
  nav.main-navigation {
    padding: 15px 20px;
  }
  nav.main-navigation .logo {
    font-size: 16px;
  }
  nav.main-navigation .nav-links {
    display: none;
  }
  .section-2 {
    padding: 70px 0;
  }
  .section-2 h2 {
    font-size: 25px;
    line-height: auto;
  }
  .section-2 h2 br {
    display: none;
  }
  .section-2 p {
    font-size: 1rem;
  }
  .section-2 .container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section-3 {
    padding: 70px 20px;
  }
  .section-3 h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .section-3 p {
    font-size: 1rem;
    line-height: auto;
  }
  .section-4 {
    padding: 70px 0 0;
  }
  .section-4 .container {
    gap: 25px;
  }
  .section-4 h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .section-4 .section-text {
    font-size: 1rem;
  }
  .section-5 {
    padding: 70px 20px;
  }
  .section-5 h3 {
    font-size: 20px;
  }
  .section-5 p {
    font-size: 1rem;
  }
  .section-5 p br {
    display: none;
  }
  .section-5 .cards-list {
    grid-template-columns: 1fr;
  }
  .section-6 {
    padding: 50px 0 70px;
  }
  .section-6 .play-button svg, .section-6 .play-button img {
    height: 150px;
    width: 150px;
  }
  .section-6 .info-panel .info-title {
    font-size: 20px;
  }
  .section-6 .info-panel .info-text {
    font-size: 1rem;
  }
  .latest-news {
    padding: 70px 0;
  }
  .latest-news .news-title h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .latest-news .news-title .carousel-buttons {
    gap: 10px;
  }
  footer {
    padding: 70px 0 0;
  }
  footer .footer-row {
    grid-template-columns: 1fr;
  }
  footer .footer-lower {
    margin-top: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
