*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: sans-serif
  background: #1e1e1e
  color: #eee

.mobile-navigation
  // transform: translateX(-100%)
  transition: all 0.3s ease
  position: relative
  height: 100vh
  width: 100%
  background: #000
  z-index: 100
  position: fixed
  padding: 20px
  display: flex
  align-items: center

  &::before
    content: ""
    position: absolute
    inset: 0
    background: transparent
    opacity: 0
    transition: opacity 0.3s ease
    z-index: -1
    pointer-events: none

  &.gradient-1::before
    background: linear-gradient(0deg, rgba(214, 26, 142, 1) 0%, rgba(65, 28, 51, 1) 100%)
    opacity: 1

  &.gradient-2::before
    background: linear-gradient(0deg, rgba(192, 73, 34, 1) 0%, rgba(90, 35, 16, 1) 100%)
    opacity: 1

  &.gradient-3::before
    background: linear-gradient(0deg, rgba(83, 145, 0, 1) 0%, rgba(60, 74, 41, 1) 100%)
    opacity: 1

.mobile-top
  position: absolute
  top: 0 
  left: 0
  width: 100%
  padding: 20px
  display: flex
  align-items: center
  justify-content: space-between

  .mobile-logo
    font-size: 20px
    color: #fff
    font-weight: 700
    text-decoration: none

  .close-navigation
    border: none
    background: none
    height: 40px
    display: flex 
    align-items: center
    justify-content: center

.mobile-links 
  width: 100%
  list-style: none
  font-size: 20px

  // li:nth-child(1)
  //   margin-bottom: 0

  li 
    margin-bottom: 20px

// .service-mobile
//   margin-top: 20px

.service-block-sm
  position: relative
  display: grid
  grid-template-rows: 1fr 0fr   // top row open, bottom collapsed
  transition: all .5s ease
  overflow: hidden
  width: 100%
  padding: 15px 0
  border-top: 1px solid rgba(#fff, .2)
  cursor: pointer
  height: 80px

  &:nth-child(3)
    border-bottom: 1px solid rgba(#fff, .2)

  .service-icon 
    height: 40px
    width: 40px

  .top-content
    display: flex
    justify-content: space-between
    align-items: center
    opacity: 1
    transition: opacity .3s ease
    overflow: hidden

  .bottom-content
    display: flex 
    align-items: flex-start
    justify-content: space-between
    overflow: hidden
    opacity: 0
    transition: opacity .5s ease

    ul 
      li
        margin-bottom: 10px
        font-size: 16px

    .service-title
      margin-bottom: 10px

    img 
      height: 100px
      width: 100px

  &:hover
    grid-template-rows: 0fr 1fr
    height: 170px

    .top-content
      opacity: 0
      pointer-events: none

    .bottom-content
      opacity: 1

.service-mobile
  max-height: 0
  opacity: 0
  overflow: hidden
  transition: max-height 0.4s ease, opacity 0.4s ease

.service-link 
  transition: all 0.3s ease

  &:hover
    .service-mobile 
      max-height: 500px
      opacity: 1
      margin-top: 20px