*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  color: #fff 
  background: #1e1e1e

.service-block
  position: relative
  display: grid
  grid-template-rows: 1fr 0fr   // top row open, bottom collapsed
  transition: all .5s ease
  overflow: hidden
  width: 100%
  padding: 20px
  border: 1px solid #fff
  height: 140px

  .top-content
    opacity: 1
    transition: opacity .3s ease
    overflow: hidden
    display: flex
    justify-content: space-between
    align-items: center

  .service-content-1,
  .service-content-2,
  .service-content-3
    display: flex 
    align-items: flex-start
    justify-content: space-between

    overflow: hidden
    opacity: 0
    transition: opacity .5s ease

  &:hover
    grid-template-rows: 0fr 1fr   // top collapses, bottom expands
    height: 200px

    .top-content
      opacity: 0
      pointer-events: none

    .service-content-1,
    .service-content-2,
    .service-content-3
      opacity: 1

.service-links
  list-style: none
  padding: 0
  margin: 0

  li
    position: relative
    cursor: pointer
    transition: padding-left .4s ease   // smooth text shift

    a
      position: absolute
      left: 0
      top: 0
      color: #f90099
      text-decoration: none
      transform: translateX(-120%)
      opacity: 0
      transition: transform .4s ease, opacity .4s ease

    &:hover
      padding-left: 90px   // same width as link
      a
        transform: translateX(0)
        opacity: 1






